/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.ui-autocomplete {
  background: #fff;
  border: 1px solid lightgray;
  width: 300px !important;
  box-shadow: 2px 3px 2px 0 rgba(0,0,0,0.08);
  font-family: sans-serif;
  font-size: 14px;
  list-style-type: none;
  padding-left: 0;
}

.ui-menu-item {
  padding: 5px 10px;
  cursor: pointer;
}

.ui-state-focus {
  background: lightgray;
}

.ui-helper-hidden-accessible {
  display: none;
}

.ui-datepicker-calendar {
  font-size: 12px !important;
  background: #fff;
  border: 1px solid lightgray;
  width: 220px;
}

.ui-datepicker-month,
.ui-datepicker-year {
  font-size: 12px !important;
}

.ui-datepicker-header {
  position: relative;
}

.ui-widget-header {
  border: 1px solid #aaaaaa;
  background: #cccccc;
  color: #222222;
  font-weight: bold;
  font-size: 14px;
  padding: 3px 0;
}

.ui-datepicker-prev, .ui-datepicker-next {
  position: absolute;
  top: 7px;
  width: 1.8em;
  height: 1.8em;
  text-indent: -9999;
}

.ui-datepicker-prev {
  left: 2px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-right: 10px solid #000;
  border-bottom: 5px solid transparent;
}

.ui-datepicker-next {
  right: 2px;
  width: 0;
  height: 0;
  border-top: 5px solid transparent;
  border-left: 10px solid #000;
  border-bottom: 5px solid transparent;
}

.ui-datepicker-next span {
  position: relative;
  left: -32px;
}

.ui-datepicker-title {
  margin: 0 2.3em;
  line-height: 1.8em;
  text-align: center;
}

.ui-datepicker th {
  padding: 0 5px;
  text-align: center;
  font-weight: bold;
  border: 0;
}

.ui-datepicker td {
  border: 0;
  padding: 1px;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
  border: 1px solid #d3d3d3;
  background: #e6e6e6;
  font-weight: normal;
  color: #555555;
  text-align: center;
}

.ui-datepicker td span, .ui-datepicker td a {
  display: block;
  padding: .2em;
  text-align: right;
  text-decoration: none;
}


#edvisor-form .e-required label:after {
  content: '*';
}

#edvisor-form select {
  width: 100%;
}

#edvisor-form fieldset {
  margin-bottom: 10px;
}

.edvisor-required-msg {
  font-size: 12px;
  color: red;
  margin-left: 10px;
}

.edvisor-success {
  background: #6ACC6A;
  color: #fff;
  margin: 10px 0;
  padding: 5px;
  text-align: center;
}