/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */


/* NAVIGATION */

.nav-tab-wrapper a:focus {
	box-shadow: none;
}

.edvisor-tab-form,
.edvisor-tab-custom {
	display: none;
}

.edvisor-container h2 {
	padding: 0 !important;
}

.edvisor-container .inside {
	margin-top: 30px !important;
}

.edvisor-block {
	background: #fff;
	padding: 20px;
	font-size: 14px;
}

.edvisor-block span {
	margin-right: 20px;
}

.edvisor-block .edvisor-edit,
.edvisor-block .edvisor-close {
	float: right;
}

.edvisor-form-item {
	display: none;
}

.edvisor-close-form {
	float: right;
}


/* FORM LIST */

.edvisor-list {
	background: #fff;
}

.edvisor-list_select {
	color: gray;
	display: table;
	font-weight: bold;
	width: 100%;
}

.edvisor-list_header {
	border-bottom: 1px solid lightgray;
	color: gray;
	display: table;
	font-weight: bold;
	padding-bottom: 10px;
	width: 100%;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6 {
	display: table-cell;
}

.col-1 {
	width: 15%;
}

.col-2 {
	width: 50%;
}

.col-5 {
	width: 40%;
}

.col-6 {
	width: 40%;
}

.col-3 {
	width: 10%;
}

.col-4 {
	width: 10%;
}

.edvisor-list_item {
	display: table;
	height: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid lightgray;
	width: 100%;
}

.edvisor-list_order {
	width: 30px;
}

.edvisor-list_field {
	height: 30px;
	line-height: 30px;
}

.edvisor-close,
.edvisor-edit {
	display: inline-block;
  color: #444;
  cursor: pointer;
  position: relative;
}

.edvisor-close:hover {
	color: red;
}

.edvisor-edit:hover {
	color: steelblue;
}

.edvisor-close:before,
.edvisor-edit:before {
	font-size: 20px;
  line-height: 1;
  font-family: dashicons;
  vertical-align: top;
  text-align: center;
}

.edvisor-edit:before {
	content: '\f107';
}

.edvisor-close:before {
	content: '\f158';
}

.edvisor-form-button {
	margin-top: 20px;
	color: #fff;
	background: #0792d4;
	border: 0;
	border-radius: 2px;
	outline: 0;
	cursor: pointer;
	padding: 6px 14px;
}

.edvisor-form-button:active {
	background: #05608C;
}


/* MODAL */

body.modal-open {
	overflow: hidden;
}

.edvisor-modal-bg {
	display: none;
	position: absolute;
	width: 100%;
	height: 100%;
	background: #000;
	opacity: .2;
	top: 0;
	left: -10px;
	z-index: 1;
}

.edvisor-modal {
	display: none;
	width: 360px;
	border: 1px solid lightgray;
	border-radius: 2px;
	padding: 20px;
	background: #fff;
	position: absolute;
	left: 50%;
	margin-left: -180px;
	z-index: 2;
}

.edvisor-modal .button {
	margin-top: 20px;
}

.edvisor-modal_header {
	position: relative;
}

.edvisor-modal .edvisor-close {
	position: absolute;
	top: 0;
	right: 0;
}

.edvisor-modal_body {
  overflow: scroll;
  max-height: 400px;
}

.edvisor-modal_body button {
	display: block;
	margin-bottom: 10px;
	cursor: pointer;
}

.edvisor-option-container,
.edvisor-option-hidden {
	display: none;
}

.edvisor-option .edvisor-close {
	position: initial;
}

.edvisor-option-button {
	color: #0792d4;
	border: 0;
	background: none;
	font-weight: bold;
	outline: 0;
}

.edvisor-field {
	font-weight: bold;
	margin-bottom: 10px;	
}

.edvisor-label {
	width: 100px;
	display: inline-block;
}

.edvisor-item {
	margin-bottom: 25px;
  border-bottom: 1px solid #DADADA;
	padding-bottom: 25px;
}


/* SETTINGS */
.edvisor-info {
	color: gray;
}

.edvisor-tab-settings fieldset {
	margin-bottom: 15px;
}

.edvisor-cus-col-1 {
  margin-bottom: 5px;
}

.edvisor-tab-custom textarea {
	width: 100%;
	height: 120px;
	display: none;
	margin-bottom: 20px;
}

.edvisor-tab-custom button {
	margin: 10px 0;
}

.col-3 p {
	margin: 0;
	padding: 0;
}